// COLORS

// https://flatuicolors.com/palette/defo 

$color-black: #000;
$color-white: #fff;

$color-green-light: #2ecc71;
$color-green-dark: #27ae60;

$color-blue-light: #3498db;
$color-blue-dark: #2980b9;

$color-silver-light: #ecf0f1;
$color-silver-dark: #bdc3c7;


// FONTS 

$lato-thin: 100;
$lato-light: 300;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;